<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/stili.css">
        <meta nam="viewport" content="initial-scale=1, width=device-width">
        
    </head>
    <br>
<form>
        <a style="margin-left:10%;"href="/" class="poga">Uz Sākumu</a>
        <a href="/videjas" class="poga">uz videjam</a>
        <a href="/atzimes" class="poga">Uz atzimes kalkulatoru</a>
        <a href="/uzd_kalendars" class="poga">Uz kalendāru</a>
</form>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>