{% extends "layout.html" %}

{% block body %}
    <title>Videjas atzimes</title>
    
    <form class="atkape" method="post" action="/videjas">
        <label>Priekšmets:</label>
        <input name="pr" maxlength="40" placeholder="Ieraksti priekšmetu" type="text" required>
        <label>Atzīme:</label>
        <input name="at" placeholder="Ieraksti atzīmi (0-10)" type="number" min="1" max="10" required>
        <button type="submit">Iesniegt</button>
        <a href="/dzest_videjas" style="display: inline-block; margin-left: 10px;">Notīrīt visu</a>
    </form>

    <form class="anketa">
       
        {% for stat in stats %}
            <p class="atzimes">{{ stat['prieksmets'] }} <span style="margin-left: 45px;">{{ "%.2f"|format(stat['videjais']) }}</span></p>
        {% endfor %}
    </form>
{% endblock %}