{% extends "layout.html" %}

{% block body %}
    <title>atzimes</title>
    

<form class="atkape">
    <label>Ievadi cik tu varētu dabūt pārbaudes darbā punktus:</label>
    <input id="ir" placeholder="Cik dabuji" type="number" min="0" required>
    <label>no</label>
    <input id="max" placeholder="Maksimālie" type="number" min=" 0" required>
    <button type="calculate">aprēķināt</button>
    <output id="result"></output>
    

</form>
<form class="anketa">
<label style="font-weight: bold;">Procenti, no</label><label style="margin-left:45px; font-weight: bold;">atzīme</label>
<p class="atzimes">96% 10</p>
<p class="atzimes">87% 9</p>
<p class="atzimes">76% 8</p>
<p class="atzimes">67% 7</p>
<p class="atzimes">56% 6</p>
<p class="atzimes">41% 5</p>
<p class="atzimes">31% 4</p>
<p class="atzimes">21% 3</p>
<p class="atzimes">11% 2</p>
<p class="atzimes1">0% 1 </p>
</form>
{% endblock %}